body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #1a508b;
    box-sizing: border-box;
    word-wrap: normal;
}

p {
    word-wrap: normal;
}

html {
    position: relative;
    min-height: 100%
}

.jumbotron {
    text-align: center;
    background-color: #fff3e6;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.container {
    margin: auto 10%;
    background-color:#0d335d ;
    overflow: auto;
}

.destination-block {
    background-color:#fff3e6;
}

.footer {
    height: 45px;
    border-top: 6px solid #79a3b1;
    margin-top: 3px;
    background-color:#fcf8ec;
    padding-top: 14px;
    color: #fff;
}

.row {
    margin: 20px auto;
}

.center {
    margin: auto;
    width: 100%;
    border: 7px solid green;
    padding: 10px;
}

.covid-block {
    background-color: #fff3e6;
}
