body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #1a508b;
  box-sizing: border-box;
  word-wrap: normal;
}

p {
  word-wrap: normal;
}

html {
  position: relative;
  min-height: 100%;
}

table {
  margin-top: 15px;
}

th {
  padding-bottom: 10px;
}
td {
  height: 200px;
  width: 400px;
  border: 10px solid green;
}

.jumbotron {
  text-align: center;
  background-color: #fff3e6;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  height: 20%;
  background-image: url("/assets/images/airplane-wallpaper.jpg");
  background-size: cover, contain;
  background-repeat: no-repeat;
}

.container {
  margin: 50px auto 50px auto;
  background-color: #0d335d;
  overflow: auto;
  padding-bottom: 40px auto;
}

.destination-block {
  background-color: #fff3e6;
}

.footer {
  height: 45px;
  border-top: 6px solid #79a3b1;
  margin-top: 3px;
  background-color: #fcf8ec;
  padding-top: 14px;
  color: #fff;
}

.row {
  margin: 20px auto;
}

.center {
  margin: auto;
  width: 100%;
  border: 7px solid green;
  padding: 5px;
}

.covid-block {
  margin: 50px auto 50px auto;
  border-color: #0d335d;
  background-color: #fcf8ec;
  overflow: auto;
  padding-bottom: 50px;
  border-width: 30px;
}

.tips {
    margin: 50px auto 50px auto;
    border-color: #0d335d;
    background-color: #fcf8ec;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-width: 30px;
  }


.bootstrap-iso {
  background-color: #fff3e6 !important;
}

.bootstrap-iso .form-group {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.asteriskField {
  color: red;
}
